@media screen and (max-width:780px){

  main nav{
    height: 100px;
    padding: 5px;
  }
  /* FINE MAIN */

  footer{
    justify-content: space-between;
  }

  footer .data-song{
    gap: 0px 5px;
    min-width: 200px;
  }

  footer .data-song .image{
    height: 60px;
  }

  footer .data-song .title-subtitle-song p{
    font-size: 0.8rem;
  }

  footer .data-song .icons{
    font-size: 0.9rem;
  }

  footer .loader-song{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .loader-song .control-song{
    font-size: 0.9rem;
  }

  footer .loader-song .control-song i:nth-child(3){
    font-size: 1.3rem;
  }

  footer .loader-song .loader{
    width: 80%;
    min-width: 200px;

  }

  footer .loader-song .loader .track{
    width: 100%;
  }

  footer .settings-sound{
    flex-direction: column;
    justify-content: center;
  }
  footer .settings-sound .icons{
    height: 50%;
  }

  footer .settings-sound .icons i{
    font-size: 0.8rem;
  }

  footer .settings-sound .loader-volume{
    width: 80%;
  }
}

@media screen and (max-width:568px){

  aside{
    min-width: 65px;
  }

  aside{
    padding: 0;
  }

  aside .aside-top .logo{
    height: 60px;
  }

  aside .aside-top .logo img:first-child{
    display: none;
  }
  aside .aside-top .logo img:last-child{
    display: block;
    margin: auto;
    width: 75%;
  }
  
  aside .aside-top .navigation ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  aside .aside-top .navigation ul li {
    padding: 0;
    margin-bottom: 14px;
  }

  aside .aside-top .navigation ul li span{
    display: none;
  }

  aside .aside-top .cont-data-playlist{
    display: none;
  }

  aside .aside-bottom span,.separator{
    display: none;
  }
  aside .aside-bottom .user i{
    margin: 0px;
  }
  
  aside .aside-bottom{
    padding: 0;
    align-items: center;
    gap: 15px 0px;
  }
/* FINE ASIDE */


  main .cont-section .cont-cards {
    justify-content: center;
  }
  /* FINE MAIN */

}

@media screen and (max-width:468px){
  footer .settings-sound .loader-volume{
    display: none;
  }
}