@media screen and (max-width:780px){

}

@media screen and (max-width:568px){

  aside{
    min-width: 90px;
  }

  aside{
    padding: 0;
  }

  aside .aside-top .logo{
    height: 60px;
  }

  aside .aside-top .logo img:first-child{
    display: none;
  }
  aside .aside-top .logo img:last-child{
    display: block;
    margin: auto;
    width: 75%;
  }
  
  aside .aside-top .navigation ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  aside .aside-top .navigation ul li {
    padding: 0;
    margin-bottom: 14px;
  }

  aside .aside-top .navigation ul li span{
    display: none;
  }

  aside .aside-top .cont-data-playlist{
    display: none;
  }

  aside .aside-bottom span,.separator{
    display: none;
  }
  aside .aside-bottom .user i{
    margin: 0px;
  }
  
  aside .aside-bottom{
    padding: 0;
    align-items: center;
    gap: 15px 0px;
  }




}