*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.general-container{
  height: calc(100vh - 80px);
  background-color: var(--main-blue);
  display: flex;
  flex-direction: column;
}

.cont-aside-main{
  width: 100%;
  height: 100%;
  display: flex;
}

aside{
  height: 100%;
  width: calc(25% - 100px);
  min-width: 215px;
  background-color: var(--main-black);
  padding-left:15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .aside-top .logo{
  width: 100%;
  height: 84px;
  padding: 13px 0px;
}

aside .aside-top .logo img{
  width: 60%;
}

aside .aside-top .logo img:last-child{
  display: none;
}

aside .aside-top .navigation ul li{
  list-style: none;
  margin-bottom: 15px;
  border-left: 2px solid transparent;
  padding-left: 5px;
}

aside .aside-top .navigation ul li:active{
  border-left: 2px solid var(--main-green);
}

aside .aside-top .navigation ul li:active a{
  color: #FFFFFF;
}

aside .aside-top .navigation ul li a{
  display: flex;
  gap: 0px 10px;
  color: var(--p-gray);
  text-decoration: none;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

aside .aside-top .navigation ul li a i{
  font-size: 1.4rem;
}

aside .aside-top h4{
  color: #FFFFFF;
  padding-left: 5px;
  margin-bottom: 10px;
}

aside .aside-top .cont-create-playlist{
  color: var(--p-gray);
  display: flex;
  align-items: center;
  gap: 0px 10px;
  padding-left: 5px;
  cursor: pointer;
  border-left: 2px solid transparent;
  margin-bottom: 20px;
}

aside .aside-top .cont-create-playlist:active{
  color: #FFFFFF;
  border-left: 2px solid var(--main-green);
}


aside .aside-top .cont-create-playlist i{
  font-size: 1.6rem;
}

aside .aside-top .playlist-items{
  color: var(--p-gray);
  list-style: none;
  padding-left: 5px;
}

aside .aside-top .playlist-items li{
  margin-bottom: 15px;
}

aside .aside-bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--p-gray);
}

aside .aside-bottom .download{
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0px 5px;
  cursor: pointer;
}
aside .aside-bottom .download i{
  height: 25px;
  width: 25px;
  border: 2px solid var(--p-gray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .aside-bottom .separator{
  height: 2px;
  width: 90%;
  background-color: var(--p-gray);
  margin: 10px 0px;
}

aside .aside-bottom .user{
  color: #FFFFFF;
  display: flex;
  align-items: center;
  font-weight: 600;
}
aside .aside-bottom .user i{
  height: 30px;
  width: 30px;
  background-color: var(--p-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 8px;
}

/* FINE ASIDE */

main{
  width: calc(75% + 100px);
  height: 100%;
  overflow-y: scroll;
}

main header{
  height: 100px;
  width: 100%;
  background-color: var(--dark-blue);
  padding: 0px 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
}

main header button{
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 30px;
}

/* FINE HEADER */

main nav {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

main nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px 15px;
  flex-wrap: wrap;
}

main nav ul li a{
  color: var(--p-gray);
  text-decoration: none;
}

main nav ul li a.active::after {
  display: block;
  clear: both;
  content : "";
  position: relative;
  left: 0;
  bottom : 0;
  max-width:250px;
  height : 10px;
  width : 40px; 
  border-bottom:1px solid var(--main-green);
  margin: 0 auto;
}
/* FINE NAV */

main .cont-section{
  padding: 10px 20px;
}

main .cont-section h3{
  color: #FFFFFF;
  font-size: 1.5rem;
  cursor: default;
}
main .cont-section p{
  color: var(--p-gray);
  cursor: default;
}

main .cont-section .cont-cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

main .cont-section .cont-cards .card{
  height: 250px;
  padding: 10px;
  cursor: pointer;
}

main .cont-section .cont-cards .card .image{
  height: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


main .cont-section .cont-cards .card .image i{
  position: absolute;
  color: #FFFFFF;
  font-size: 1.9rem;
  display: none;
}

main .cont-cards .card:hover .image i{
  display: block;
}

main .cont-section .cont-cards .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main .cont-section .cont-cards .card .title-subtitle{
  text-align: center;
  color: #FFFFFF;
  margin-top: 5px;
  
}

main .cont-section .cont-cards.populars .image img{
  border-radius: 50%;
}
  /* FINE MAIN */


footer{
  height: 80px;
  background-color: var(--footer-bg);

}